@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";
@import "modules/buttons";

.tribe-events-tooltip {
    .entry-title {
        color: $blue !important;
    }

    .event_subhead {
        color: $brown;
        font-size: 1.2em;
        font-weight: normal;
    }
    

    .tribe-event-duration {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .tribe-events-event-body {
        font-size: 1em;
    }
}

.tribe-events-schedule {
    color: $brown;
    font-size: .7em;
    font-style: italic;
    margin:-1em 0 1.5em;
    border-bottom: 0px solid $brown;

    h2 {
        font-weight: 500;
    }
}


.single-tribe_events {
    .tribe-events-single-event-title {
        color: $blue;
        font-size: 3em;
    }
    .tribe-events-event-meta {
        background: none;
        border: 0;
    }
}
.tribe-events-event-meta {
    dl {
        text-align: center;
    }
    dt {
        font-size: 1.5em;
        color: $brown;
        margin-bottom: .3em;
    }

    dd {
        font-size: 1.5em !important;
        border-bottom: 0 !important;
        margin-bottom: 1em !important;
        color: $brown !important;
    }

    .tribe-events-meta-group {
        width: 100% !important;
        background-color: $tan;

        .tribe-events-single-section-title {
            font-size: 2em;
            color: $blue;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            border-bottom: 1px solid $brown;
        }
    }
}

.tribe-events-tickets-rsvp, .tribe-events-tickets {
    background: $tan !important;
    .entry-content {
        table {
            border: 0px;
        }
    }
}

.tribe-list-widget {
    background-color: white;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    @include drop-shadow;
}

#tribe-bar-form .tribe-bar-filters {
    display: none !important;
}

.tribe-events-page-title {
    color: $brown !important;
}

.tribe-events-calendar thead th {
    background-color: $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background: $brown;
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
    background-color: $blue;
}

.event_subhead {
    font-size: 1.5em;
    font-weight: 700;
    color: $blue;
}

.event_excerpt {
    font-size: 1.1em;
    font-weight: normal;
    color: $brown;
}
