@charset "UTF-8";
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 0px dotted;
  text-decoration: none;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "“" "”" "‘" "’";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
q:before,
q:after {
  content: "";
  content: none;
}

small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
menu {
  padding: 0 0 0 40px;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
@font-face {
  font-family: "gamepoint";
  src: url("../fonts/gamepoint.eot");
  src: url("../fonts/gamepoint.eot?#iefix") format("embedded-opentype"), url("../fonts/gamepoint.woff") format("woff"), url("../fonts/gamepoint.ttf") format("truetype"), url("../fonts/gamepoint.svg#gamepoint") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "gamepoint" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=gp-]:before,
[class*=" gp-"]:before {
  font-family: "gamepoint" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gp-gamepoint-logo:before {
  content: "a";
}

/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.

$lato:              'Lato', $sans-serif;
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*************
ICON STYLE
**************/
/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/
/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
.pink-btn, #tribe-events .tribe-events-button, .tribe-button, input[type=submit], .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
  display: inline-block;
  position: relative;
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff !important;
  letter-spacing: 1px;
  font-size: 0.9em;
  line-height: 34px;
  font-weight: bold;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid #F7F4E2;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
  box-shadow: 1px 1px 5px #f1ecce;
}
.pink-btn:hover, #tribe-events .tribe-events-button:hover, .tribe-button:hover, input[type=submit]:hover, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:hover, .pink-btn:focus, #tribe-events .tribe-events-button:focus, .tribe-button:focus, input[type=submit]:focus, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) !important;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2) !important;
  /* border-bottom: 0px !important; */
}
.pink-btn:active, #tribe-events .tribe-events-button:active, .tribe-button:active, input[type=submit]:active, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:active {
  top: 1px;
}

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.pink-btn, #tribe-events .tribe-events-button, .tribe-button, input[type=submit], .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
  background-color: #F7ACB8;
  text-shadow: 1px 1px 5px #f595a4;
  margin-bottom: 1em;
}
.pink-btn:hover, .pink-btn:focus, #tribe-events .tribe-events-button:hover, #tribe-events .tribe-events-button:focus, .tribe-button:hover, .tribe-button:focus, input[type=submit]:hover, input[type=submit]:focus, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:hover, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:focus {
  background-color: #f599a8;
}
.pink-btn:active, #tribe-events .tribe-events-button:active, .tribe-button:active, input[type=submit]:active, .tribe-events .tribe-events-c-subscribe-dropdown__container .tribe-events-c-subscribe-dropdown .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:active {
  background-color: #f490a0;
}

.tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
  width: 220px;
}

.tooltipster-content .tribe-events-tooltip .entry-title {
  color: #A3DED2 !important;
}
.tooltipster-content .tribe-events-tooltip .event_subhead {
  color: #513628;
  font-size: 1.2em;
  font-weight: normal;
}
.tooltipster-content .tribe-events-tooltip .tribe-event-duration {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}
.tooltipster-content .tribe-events-tooltip .tribe-events-event-body {
  font-size: 1em;
}
.tooltipster-content .tribe-events-calendar-month__calendar-event-tooltip-title.tribe-common-h7 .tribe-events-calendar-month__calendar-event-tooltip-title-link.tribe-common-anchor-thin {
  color: #58c3ad !important;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
}

.tribe-events .tribe-events-calendar-month__calendar-event-tooltip-datetime {
  font-size: 1em;
  font-weight: bold;
}

.tooltipster-base.tribe-events-tooltip-theme {
  max-width: 350px;
}

.tribe-events .tribe-events-calendar-month__calendar-event-tooltip-featured-image-wrapper {
  width: 100%;
}

.tribe-events-single .tribe-events-schedule {
  margin: -1em 0 1.5em;
}
.tribe-events-single .tribe-events-schedule h2 {
  font-weight: 500;
  color: #513628;
  font-size: 1em;
  border-bottom: 0px solid #513628;
}
.tribe-events-single .tribe-events-back a {
  color: #513628;
}
.tribe-events-single .tribe-events-content {
  color: #513628;
}

.single-tribe_events .tribe-events-single-event-title {
  color: #A3DED2;
  font-size: 3em;
  line-height: 1.1;
}
.single-tribe_events .tribe-events-event-meta {
  background: none;
  border: 0;
  flex-direction: column;
  width: 100% !important;
}

.tribe-events-event-meta dl {
  text-align: center;
}
.tribe-events-event-meta dt {
  font-size: 1.5em;
  color: #513628;
  margin-bottom: 0.3em;
}
.tribe-events-event-meta dd {
  font-size: 1.5em !important;
  border-bottom: 0 !important;
  margin-bottom: 1em !important;
  color: #513628 !important;
}
.tribe-events-event-meta .tribe-events-meta-group {
  width: 100% !important;
  background-color: #F7F4E2;
  margin-bottom: 2em;
  padding-top: 0;
}
.tribe-events-event-meta .tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 2em;
  color: #A3DED2;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #513628;
}
.tribe-events-event-meta .tribe-events-meta-group .tribe-events-start-date-label, .tribe-events-event-meta .tribe-events-meta-group .tribe-events-start-time-label, .tribe-events-event-meta .tribe-events-meta-group .tribe-venue, .tribe-events-event-meta .tribe-events-meta-group .tribe-venue-tel-label, .tribe-events-event-meta .tribe-events-meta-group .tribe-events-event-cost-label, .tribe-events-event-meta .tribe-events-meta-group .tribe-events-event-categories-label {
  font-weight: bold;
}
.tribe-events-event-meta .tribe-events-meta-group .tribe-venue-url a, .tribe-events-event-meta .tribe-events-meta-group .tribe-events-event-categories a, .tribe-events-event-meta .tribe-events-meta-group a.tribe-events-gmap {
  color: #513628;
  font-weight: normal;
  text-decoration: underline;
}

.tribe-events-tickets-rsvp, .tribe-events-tickets {
  background: #F7F4E2 !important;
}
.tribe-events-tickets-rsvp .entry-content table, .tribe-events-tickets .entry-content table {
  border: 0px;
}

.tribe-list-widget {
  background-color: white;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 1px 1px 5px #f1ecce;
}

#tribe-bar-form .tribe-bar-filters {
  display: none !important;
}

.tribe-events-page-title {
  color: #513628 !important;
}

header.tribe-events-calendar-month__header {
  padding: 0 !important;
}

.tribe-events-calendar thead th, .tribe-events-calendar-month__header-column, .tribe-events-calendar-month__header-row {
  background-color: #A3DED2;
  border-left: 1px solid #A3DED2;
  border-right: 1px solid #A3DED2;
  display: flex;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.tribe-events-calendar thead th h3, .tribe-events-calendar-month__header-column h3, .tribe-events-calendar-month__header-row h3 {
  font-weight: bold !important;
  color: #fff !important;
}

.tribe-events-calendar-month__day.tribe-events-calendar-month__day--past {
  background-color: rgba(234, 237, 242, 0.5);
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
  background: #513628;
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
  background-color: #A3DED2;
}

.event_subhead {
  font-size: 1.5em;
  font-weight: 700;
  color: #A3DED2;
}

.event_excerpt {
  font-size: 1.1em;
  font-weight: normal;
  color: #513628;
}

.tribe-events-c-top-bar__datepicker-time h1, .tribe-events-c-top-bar__datepicker-time .h1 {
  font-size: 1em;
  line-height: 1.333em;
  text-transform: uppercase;
  color: #513628;
  font-weight: bold;
}
.tribe-events-c-top-bar__datepicker-time h2, .tribe-events-c-top-bar__datepicker-time .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
  text-transform: uppercase;
}
.tribe-events-c-top-bar__datepicker-time h3, .tribe-events-c-top-bar__datepicker-time .h3 {
  font-size: 1.125em;
}
.tribe-events-c-top-bar__datepicker-time h4, .tribe-events-c-top-bar__datepicker-time .h4 {
  font-size: 1.1em;
  font-weight: 700;
}
.tribe-events-c-top-bar__datepicker-time h5, .tribe-events-c-top-bar__datepicker-time .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*# sourceMappingURL=tribe-events.css.map */
